@if (loading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<h2 mat-dialog-title>Edit User</h2>
<mat-dialog-content>
  <form [formGroup]="userForm" id="userForm">
    <div class="mt-16">
      <mat-form-field appearance="outline" class="mr-16">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
        <!-- <mat-hint>Please enter first name</mat-hint> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
        <!-- <mat-hint>Please enter last name</mat-hint> -->
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button matButton (click)="onNoClick()">Cancel</button>
  <button matButton="filled" [disabled]="userForm.invalid" (click)="onSubmit()">Save</button>
</mat-dialog-actions>
