<mat-card class="user-profile-header">
  <button
    matIconButton
    [matMenuTriggerFor]="userBasicMenu"
    aria-label="icon-button with a menu"
    class="menu-btn"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #userBasicMenu="matMenu">
    <button mat-menu-item (click)="openEditBasicsDialog()">
      <mat-icon>edit</mat-icon>
      <span>Edit User</span>
    </button>
    <button mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Delete User</span>
    </button>
  </mat-menu>

  <mat-card-header>
    <div mat-card-avatar class="user-profile-container">
      <img src="/assets/img/user_profile.svg" alt="user icon" class="user-profile-img" />
    </div>
    <mat-card-title>{{ currentUser()?.fullName }}</mat-card-title>
  </mat-card-header>
</mat-card>

<mat-card class="user-details-container">
  <button
    matIconButton
    [matMenuTriggerFor]="userDetailsMenu"
    aria-label="icon-button with a menu"
    class="menu-btn"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #userDetailsMenu="matMenu">
    <button mat-menu-item (click)="openEditDetailsDialog()">
      <mat-icon>edit</mat-icon>
      <span>Edit User Details</span>
    </button>
    <button mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Delete User</span>
    </button>
  </mat-menu>

  <mat-card>
    <mat-card-content>
      <mat-card-title>Personal details</mat-card-title>
    </mat-card-content>
  </mat-card>

  <mat-card class="user-details">
    <mat-card-content>
      <mat-icon>mail</mat-icon>
      <span>{{ currentUser()?.email }}</span>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-content>
      <mat-icon>home</mat-icon>
      <span
        >{{ currentUser()?.address }}, {{ currentUser()?.postalCode }}
        {{ currentUser()?.city }}</span
      >
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-content>
      <mat-icon>cake</mat-icon>
      <span>{{ currentUser()?.birthDate | date }}</span>
    </mat-card-content>
  </mat-card>
</mat-card>
