.user-profile-header {
  background: linear-gradient(135deg, #004f4f, #00dddd);
  margin-bottom: 16px;
}

mat-card {
  position: relative;
  .menu-btn {
    background-color: transparent;
    border: transparent;
    position: absolute;
    top: 32px;
    right: 16px;
    z-index: 1;
  }
}

mat-card-header {
  align-items: center;
  padding: 120px 16px 0 16px;

  .user-profile-container {
    width: 100px;
    height: 100px;
  }

  img {
    width: 100px;
    height: 100px;
  }
}

.user-details-container {
  padding-top: 16px;
}

.user-details {
  mat-card-content {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px 16px;

    mat-icon {
      color: #00dddd;
    }
  }
}
