.mat-drawer-container {
  height: 100vh;
}

.menu-icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.sidenav {
  width: 300px;
  padding: 16px;
}

.toolbar-row {
  background-color: blueviolet;
}
