<table mat-table [dataSource]="users()" class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
  </ng-container>

  <!-- Postal Code Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>E-Mail</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <!-- Birth Date Column -->
  <ng-container matColumnDef="birth-date">
    <th mat-header-cell *matHeaderCellDef>Birth Date</th>
    <td mat-cell *matCellDef="let element">{{ element.birthDate | date }}</td>
  </ng-container>

  <!-- City Column -->
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>City</th>
    <td mat-cell *matCellDef="let element">{{ element.city }}</td>
  </ng-container>

  <ng-container matColumnDef="delete-button">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button
        matMiniFab
        aria-label="icon button with a delete icon"
        (click)="$event.stopPropagation(); onDeleteUser(element.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="clickable-user-row"
    (click)="goToDetail(row.id)"
  ></tr>
</table>

<button
  (click)="openDialog()"
  matFab
  matTooltip="Add a new user"
  aria-label="Button to add a new user"
  class="add-btn"
>
  <mat-icon>add</mat-icon>
</button>
